.row
	section.section-readmore.container
		.row
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="javascript:;" rel="nofollow")
					.bg(style="background-image: url('/assets/template/leadingpage/images/tahograf.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Продукция" href="javascript;")
							span Продукция
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="javascript:;" rel="nofollow")
					.bg(style="background-image: url('/assets/template/leadingpage/images/mochevina_01.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Установка" href="javascript;")
							span Установка
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="javascript:;" rel="nofollow")
					.bg(style="background-image: url('/assets/template/leadingpage/images/informations.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Информация" href="javascript;")
							span Информация
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="javascript:;" rel="nofollow")
					.bg(style="background-image: url('/assets/template/leadingpage/images/documents-000.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Документы" href="javascript;")
							span Документы
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="javascript:;" rel="nofollow")
					.bg(style="background-image: url('/assets/template/leadingpage/images/uslugi.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Регистрация" href="javascript;")
							span Регистрация