.row.background.section-whyis
	.container
		.row
			section.section-whyis-wrapper.container
				h2.section-whyis-title.text-center.line.line-black
					span Почему именно мы?
				.row
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Работаем с 1998 года (19 лет опыта)!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Только сертифицированное оборудование для регистрации в надзорных органах!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Помощь в регистрации УОС!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Все оборудование в наличии!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Кратчайшие сроки установки!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Работа с любыми автомобилями