include ../variable
- var title = "АВТОНОМНЫЕ ОБОГРЕВАТЕЛИ";
- var brand = "Климатика РУС";
- var logtitle = "Комфорт в движении";
- var footerlong = "Комфорт в движении.";
- var subdomain = "teplo";
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")	include ../includes/head
	include ../includes/teplo/ograph
	include ../includes/style	body.teplo		include ../includes/teplo/header		main.main.container-fluid			.row				.container-fluid					include ../includes/title					include ../includes/teplo/section_readmore					include ../includes/teplo/section_about					include ../includes/teplo/section_whyis					include ../includes/teplo/section_glance					include ../includes/section_clients					include ../includes/section_maps		include ../includes/footer		include ../includes/zayavka		include ../includes/javascript