/node_modules/**/*
/bower_components/**/*
/src/vendors/**/*
/src/images/bin/**/*
/temp/**/*
/temps/**/*
/test/**/*
/tests/**/*
/**/desktop.ini
/**/Thumbs.db
/src/bin/*
/src/test/*
/dest/**/*
/src/php/*
/vendor/**/*
**/.ftpauth
composer.lock