/node_modules/**/*
/bower_components/**/*
/src/vendors/**/*
/src/images/bin/**/*
/temp/**/*
/temps/**/*
/test/**/*
/tests/**/*
/**/*.dll
/**/*.ini
/src/bin/*
/src/test/*
/icon.ico
/dest/**/*
/src/php/*
/vendor/**/*
**/.ftpauth
composer.lock