.row.background.section-whyis
	.container
		.row
			section.section-whyis-wrapper.container
				h2.section-whyis-title.text-center.line.line-black
					span Почему именно мы?
				.row
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Работаем с 1998 года (19 лет опыта)!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Лицензия ФСБ на право работы и выдачи карта для тахографов!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Сертифицированный центр завода по производству и выдаче карт ЕСТР и СКЗИ!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Ускоренные сроки выдачи карт тахографов!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Помощь в заполнении заявлений на выдачу карт тахографа!