.row
	section.section-readmore.container
		.row
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/takhografy/karty_takhografov/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/tahograf.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Продукция" href="http://88005500973.ru/catalog/takhografy/karty_takhografov/" target="_blank")
							span Продукция
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/takhografy/karty_takhografov/karta_voditelya_skzi/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/skzi.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Карты СКЗИ" href="http://88005500973.ru/catalog/takhografy/karty_takhografov/karta_voditelya_skzi/" target="_blank")
							span Карты СКЗИ
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/takhografy/karty_takhografov/karta_voditelya_estr/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/ectp.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="КАРТЫ ЕСТР" href="http://88005500973.ru/catalog/takhografy/karty_takhografov/karta_voditelya_estr/" target="_blank")
							span КАРТЫ ЕСТР
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/info/docs/dokumentatsiya-po-takhografam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/informations.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Инструкции" href="http://88005500973.ru/info/docs/dokumentatsiya-po-takhografam/" target="_blank")
							span Инструкции
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/takhografy/uslugi_po_takhografam/uslugi_po_kartam_takhografa/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/documents-000.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Документы для Получения" href="http://88005500973.ru/catalog/takhografy/uslugi_po_takhografam/uslugi_po_kartam_takhografa/" target="_blank")
							span Документы для Получения