.row
	section.section-readmore.container
		.row
			.col-tf-6.itemblock.item-6 
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/avtonomki_rf/teplostar/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/planar.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Планар")
							span Планар
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/avtonomki_rf/webasto_1/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/webasto.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="WEBASTO")
							span WEBASTO
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/avtonomki_rf/eberspacher/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/eberspacher.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Eberspacher")
							span Eberspacher
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/avtonomki_rf/pramotronik/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/promotronik.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Прамотроник")
							span Прамотроник
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/info/docs/dokumentatsiya-k-avtonomnym-otopitelyam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/documents-teplo.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Документы")
							span Документы
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/avtonomki_rf/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/zapchasti-teplo.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Запасные части")
							span Запасные части