footer.footer.container-fluid
	.row
		.container-fluid.footer-table
			.footer-left ООО «#{brand}» 1998-<?php echo date("Y");?>
				br
				|#{footerlong}
			.footer-right
				.contacts
					span.contacts-title Контакты:
					span.contacts-adres 446441, г. Самара, Кинельский р-н, пгт. Алексеевка,
						br
						|территория ночной стоянки БАЛТИКА
					span.contacts-phone Телефон: 
						a.callback-manager(href="tel:88005500973" rel="nofollow") 8-800-550-09-73
						=' '
						|(бесплатный)
					span.contacts-mail E-mail: 
						a(href="mailto:999@88005500973.ru") 999@88005500973.ru