.header-top.row
	.container
		.row
			.panel
				.col-sm-6.panel-left
					span.longtext #{brand}
					span.longtext-description.text-uppercase #{logtitle}
				.col-sm-6.panel-right
					span.phonetext 8 800 550-09-73
					a.callback-manager.phonetext-description.btn.btn-tahograf.text-uppercase(href="javascript:;" rel="nofollow") Заказать звонок