script(async defer src="https://callback.onlinepbx.ru/loader.js" charset="UTF-8" data-onpbxcb-id="#{onlinepbx}")
script
	<?php echo file_get_contents("assets/template/leadingpage/js/main.js");?>
script(async defer src="https://maps.googleapis.com/maps/api/js?key=#{api_key}&callback=initGooleMap")