.row.section-clients
	.container
		.row
			section.section-clients-wrapper.container
				h2.section-clients-title.text-center.line.line-black
					span Наши клиенты:
				.row
					.container
						.marqure-wrapp
							#marq_01.marquee
								img(src="/assets/template/leadingpage/images/delovie_linii.png" alt="Деловые Линии")
								img(src="/assets/template/leadingpage/images/perecrestok.png" alt="Перекрёсток")
								img(src="/assets/template/leadingpage/images/volvo.png" alt="VOLVO")
								img(src="/assets/template/leadingpage/images/mersedes-benz.png" alt="Mersedes-Benz")
								img(src="/assets/template/leadingpage/images/man.png" alt="MAN")
								img(src="/assets/template/leadingpage/images/delovie_linii.png" alt="Деловые Линии")
								img(src="/assets/template/leadingpage/images/perecrestok.png" alt="Перекрёсток")
								img(src="/assets/template/leadingpage/images/volvo.png" alt="VOLVO")
								img(src="/assets/template/leadingpage/images/mersedes-benz.png" alt="Mersedes-Benz")
								img(src="/assets/template/leadingpage/images/man.png" alt="MAN")