.jarallax.row.section-sertificats
	.container
		.row
			section.section-sertificats-wrapper.container
				h2.section-sertificats-title.text-center.line.line-white
					span Разрешительные документы:
				.row
					.col-xs-6.col-sm-6.col-md-3.item
						a.fancybox(href="/assets/template/leadingpage/images/licenze_0001.jpg" data-fancybox-group="license")
							img.img-responsive.center-block(src="/assets/template/leadingpage/images/licenze_0001.jpg" alt="")
					.col-xs-6.col-sm-6.col-md-3.item
						a.fancybox(href="/assets/template/leadingpage/images/licenze_0002.jpg" data-fancybox-group="license")
							img.img-responsive.center-block(src="/assets/template/leadingpage/images/licenze_0002.jpg" alt="")
					.col-xs-6.col-sm-6.col-md-3.item
						a.fancybox(href="/assets/template/leadingpage/images/licenze_0003.jpg" data-fancybox-group="license")
							img.img-responsive.center-block(src="/assets/template/leadingpage/images/licenze_0003.jpg" alt="")
					.col-xs-6.col-sm-6.col-md-3.item
						a.fancybox(href="/assets/template/leadingpage/images/licenze_0004.jpg" data-fancybox-group="license")
							img.img-responsive.center-block(src="/assets/template/leadingpage/images/licenze_0004.jpg" alt="")