.row.section-maps
	.container
		.row
			section.section-maps-wrapper.container
				h2.section-maps-title.text-center.line.line-black
					span Мы на карте:
				.row
					.col-lg-12
						.map
							.map-adres
								h4 «#{brand}»
								p Самарская обл., Кинельский р-н, пгт. Алексеевка, ул. Гагарина, д. 33, оф. 10
								dl.dl-horizontal
									dt Телефон:
									dd 
										a.callback-manager(href="tel:88005500973" rel="nofollow") 8-800-550-09-73
											br
											|Звонок бесплатный
									dt E-mail:&nbsp;
									dd &nbsp;
									dt Общие вопросы
									dd
										a(href="mailto:999@88005500973.ru") 999@88005500973.ru
									dt Карты водителей и предприятия
									dd
										a(href="mailto:777@88005500973.ru") 777@88005500973.ru
									dt Бухгалтерия
									dd
										a(href="mailto:888@88005500973") 888@88005500973
								.text-center.map-zayavka
									a.btn.btn-tahograf.text-uppercase(href="javascript:;" rel="nofollow") ОСТАВИТЬ ЗАЯВКУ
							.map-wrapper
								#googlemap.embed-responsive.embed-responsive-16by9