.row
	section.section-readmore.container
		.row
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/takhografy/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/tahograf.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Тахографы")
							span Тахографы
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/otklyuchenie_adblue/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/mochevina_01.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Отключение мочевины AdBlue")
							span Отключение мочевины AdBlue
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/monitoring/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/monitoring.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Мониторинг автотранспорт")
							span Мониторинг автотранспорт
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/ogranichiteli_skorosti/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/ogranichitel.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Ограничители скорости")
							span Ограничители скорости
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/uslugi/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/uslugi.jpg');")
						span.triangle
					.item-wrapper
						span.readmore.btn-tahograf-slick(data-text="Услуги")
							span Услуги