.jarallax.row.section-glance
	.container
		.row
			section.section-glance-wrapper.container
				h2.section-glance-title.text-center.line.line-white
					span ООО «#{brand}» в цифрах:
				.row
					ul.section-glance-list
						li.section-glance-list-item
							span 18 лет
								br
								|работы
						li.section-glance-list-item
							span 1500
								br
								|постоянных
								br
								|клиентов
						li.section-glance-list-item
							span 15
								br
								|регионов
						li.section-glance-list-item
							span Всего
								br
								|0,006%
								br
								|брака
						li.section-glance-list-item
							span 4125
								br
								|установленных тахографа