.row.background.section-whyis
	.container
		.row
			section.section-whyis-wrapper.container
				h2.section-whyis-title.text-center.line.line-black
					span Почему именно мы?
				.row
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Мы работаем уже более 18 лет!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p У нас только квалифицированные сотрудники!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Все всегда в наличии!
								br
								|В любых количествах!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Мы официальные дилеры VDO!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Гарантийные обязательства!
					.col-lg-4.col-xs-6.col-xs-min-12
						.item
							span.icon-a02
							p Бесплатный выезд и диагностика