include ../variable
- var title = "ТАХОГРАФЫ - УСТАНОВКА, ОБСЛУЖИВАНИЕ, РЕМОНТ";
- var brand = "Тахограф-Сервис";
- var logtitle = "безопасность в движении";
- var footerlong = "Тахографы VDO, отопители, холодильные установки.";
- var subdomain = "tahograf";
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")	include ../includes/head
	include ../includes/tahograf/ograph
	include ../includes/style	body.vdo		include ../includes/tahograf/header		main.main.container-fluid			.row				.container-fluid					include ../includes/title					include ../includes/tahograf/section_readmore					include ../includes/tahograf/section_about					include ../includes/section_sertificats					include ../includes/tahograf/section_whyis					include ../includes/tahograf/section_glance					include ../includes/section_clients					include ../includes/section_maps		include ../includes/footer		include ../includes/zayavka		include ../includes/javascript