include ../variable
- var title = "ХОЛОДИЛЬНЫЕ УСТАНОВКИ";
- var brand = "Климатика РУС";
- var logtitle = "Комфорт в движении";
- var footerlong = "Комфорт в движении";
- var subdomain = "holod";
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")	include ../includes/head
	include ../includes/holod/ograph
	include ../includes/style	body.holod		include ../includes/holod/header		main.main.container-fluid			.row				.container-fluid					include ../includes/title					include ../includes/holod/section_readmore					include ../includes/holod/section_about					include ../includes/holod/section_whyis					include ../includes/holod/section_glance					include ../includes/section_clients					include ../includes/section_maps		include ../includes/footer		include ../includes/zayavka		include ../includes/javascript