include ../variable
- var title = "КАРТЫ ВОДИТЕЛЕЙ";
- var brand = "Тахограф-Сервис";
- var logtitle = "безопасность в движении";
- var footerlong = "Тахографы VDO, отопители, холодильные установки.";
- var subdomain = "driver";
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")	include ../includes/head
	include ../includes/driver/ograph
	include ../includes/style	body.driver		include ../includes/driver/header		main.main.container-fluid			.row				.container-fluid					include ../includes/title					include ../includes/driver/section_readmore					include ../includes/driver/section_about					include ../includes/section_sertificats					include ../includes/driver/section_whyis					include ../includes/driver/section_glance					include ../includes/section_clients					include ../includes/section_maps		include ../includes/footer		include ../includes/zayavka		include ../includes/javascript