header.header.container-fluid
	include ../header_panel
	.header-slick.row
		.slider.banertop.responsive
			.banertop-item(style="background-image: url('/assets/template/leadingpage/images/baner_top_01.jpg');")
				.banertop-item-wrapper.img.right(style="background-image: url('/assets/template/leadingpage/images/baner_top_01_image.png');")
					.banertop-item-wrapper-td
						.banertop-item-title
							h3
								a(href="javascript:;") Справедливая
									br
									|цена, равные
									br
									|условия 39 500 руб.
						.banertop-item-text
							p рекомендованная цена
								br
								|на тахограф VDO DTCO 3283
								br
								|на всей территории РФ
						.banertop-item-button
							a.btn-tahograf-slick(href="javascript:;" data-text="Подробнее")
								span Подробнее
					.banertop-item-wrapper-td.fid
			.banertop-item(style="background-image: url('/assets/template/leadingpage/images/baner_top_02.jpg');")
				.banertop-item-wrapper
					.banertop-item-wrapper-td
						.banertop-item-title 
							h3
								a(href="javascript:;") Не забудьте
									br
									|заказать карты
									br
									|водителей
						.banertop-item-button
							a.btn-tahograf-slick(href="javascript:;" data-text="Подробнее")
								span Подробнее
					.banertop-item-wrapper-td.fid
			.banertop-item(style="background-image: url('/assets/template/leadingpage/images/baner_top_03.jpg');")
				.banertop-item-wrapper.img.left(style="background-image: url('/assets/template/leadingpage/images/baner_top_03_image.png');")
					.banertop-item-wrapper-td.fid
					.banertop-item-wrapper-td
						.banertop-item-title
							h3
								a(href="javascript:;") С 1 июля 2016
									br
									|аналоговые
									br
									|тахографы запрещены
						.banertop-item-text
							p Меняем VDO на VDO
						.banertop-item-button
							a.btn-tahograf-slick(href="javascript:;" data-text="Подробнее")
								span Подробнее