.row.background.section-about
	.container
		.row
			section.section-about-wrapper.container
				h2.section-about-title.text-center.line.line-black
					span Компания
				.row
					.col-lg-12
						p Компания «#{brand}». Продажа, установка, ремонт холодильных установок и автономных отопителей в Самаре и Самарской области.
						ul
							li Работаем с 1998 года.
							li Запасные части в наличии.
							li Реализация оборудования лучших мировых производителей.
							li Диагностика и ремонт приборов.
							li Поставка запчастей для автомобильного климатического оборудования.
						p Компания является полноправным членом общеевропейского сообщества по установке тахографов. Предлагает оригинальные приборы и запчасти от лучших мировых производителей – Siemens, VDO, Motometer, ШТРИХ-ТахоRUS и прочих.
						p Компания сотрудничает с физическими и юридическими лицами. Ставит все виды тахографов на все марки автомобилей. Подробно инструктирует своих клиентов о правилах использования оборудования и нововведениях в сфере тахографов.