.row
	section.section-readmore.container
		.row
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/elinzh/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/eling_01.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Элинж" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/elinzh/" target="_blank")
							span Элинж
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/remont-eling.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Ремонт" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
							span Ремонт
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/montag_eling.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Установка" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
							span Установка
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/materialy_dlya_to_i_remonta_khou/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/eling-zapast.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Запасные части" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/materialy_dlya_to_i_remonta_khou/" target="_blank")
							span Запасные части
			.col-tf-6.itemblock.item-6
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/documents-000.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Документы" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
							span Документы
			.col-tf-3.itemblock.item-3
				.item
					a.itemblock-readmore(href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
					.bg(style="background-image: url('/assets/template/leadingpage/images/informations.jpg');")
						span.triangle
					.item-wrapper
						a.readmore.btn-tahograf-slick(data-text="Информация" href="http://88005500973.ru/catalog/kholodilnye_ustanovki/uslugi_po_kholodilnym_ustanovkam/" target="_blank")
							span Информация